Source: indicator-sensors
Section: gnome
Priority: extra
Maintainer: Alex Murray <murray.alex@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, intltool, gnome-common, gnome-doc-utils, libglib2.0-dev (>= 2.24.0), libgtk2.0-dev (>= 2.24.0), libpeas-dev (>= 0.7.2), libnotify4-dev (>= 0.7.2), libappindicator3-dev, libsensors4-dev, nvidia-settings
Standards-Version: 3.9.1
Homepage: http://launchpad.net/indicator-sensors
Vcs-Git: git://github.com/alexmurray/indicator-sensors.git
Vcs-Browser: https://github.com/alexmurray/indicator-sensors

Package: indicator-sensors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gir1.2-peas-1.0
Description: Hardware Sensors Indicator
 Application indicator for Unity to display and monitor the readings
 from various hardware sensors (temperature, fan speeds, voltages
 etc).
